<div class="form-group">
    <label for="name" class="mb-3">SEARCH HERO BY NAME</label>
    <input id="name" type="text" [(ngModel)]="filterKey" class="form-control mb-4">
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-head" *ngFor="let col of cols" (click)="onChangeSort(col.key)">{{col.text}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hero of heroList | filter:filterKey | sort:sortKey">
                <td>{{hero.id}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.superPower}}</td>
                <td>{{hero.address}}</td>
            </tr>
        </tbody>
    </table>
</div>