

.header__home {
    background-image: url("https://wallpaperaccess.com/full/19681.jpg");
    background-size: 100%;
    width: 100%;
    height: 400px;
    margin-top: -50px;
}

.table-head:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
